{
    "env" : {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "parser": "@babel/eslint-parser",
    "extends": [
        "airbnb",
        "prettier",
        "eslint:recommended",
        "plugin:import/recommended"
        
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error"
        ],
        "import/no-import-module-exports": 0
}
}